<script setup lang="ts">
import { ref } from "vue";
const Message = ref("Hello World !");
function reverseMassage() {
  Message.value = Message.value.split("").reverse().join("");
}
function notify() {
  alert("navigation was prevented.");
}
</script>
<template>
  <h1>{{ Message }}</h1>
  <button @click="reverseMassage">Reverse Message</button>
  <button @click="Message += '!'">Append "!"</button>
  <a href="https://vuejs.org" @click.prevent="notify"
    >A link with e.preventDefault</a
  >
</template>
<style>
button,
a {
  display: block;
  margin-bottom: 1em;
}
</style>
