<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
//import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExmple from "./components/HelloWorldExmple.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionsAndLoop from "./components/ConditionsAndLoop.vue";
import FromBindling from "./components/FromBindling.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent />
    <CalComponent />
    <HelloWorldExmple />
    <HandlingUserInput />
    <AttributeBindings />
    <ConditionsAndLoop />
    <FromBindling />
  </div>
</template>

<style scoped></style>
